../../.bash_history
        ../../.gitconfig
        ../../.lesshst
        ../../.viminfo
        ../../.vscode/
        ../../AppData/
        ../../Contacts/
        ../../Deskto/
        ../../Desktop/
        ../
        ../../Downloads/
        ../../Evernote/
        ../../Favorites/
        ../../IntelGraphicsProfiles/
        ../../Links/
        ../../Music/
        ../../NTUSER.DAT
        ../../NTUSER.DAT{e5aa475c-904b-11eb-9798-8d91d22f7fd4}.TM.blf
        ../../NTUSER.DAT{e5aa475c-904b-11eb-9798-8d91d22f7fd4}.TMContainer00000000000000000001.regtrans-ms
        ../../NTUSER.DAT{e5aa475c-904b-11eb-9798-8d91d22f7fd4}.TMContainer00000000000000000002.regtrans-ms
        ../../Pictures/
        ../../PycharmProjects/
        ../../Saved Games/
        ../../Searches/
        ../../Videos/
        ../../VirtualBox VMs/
        ../../__MACOSX/
        ../../eclipse-workspace/
        ../../eclipse/
        ../../go/
        ../../ntuser.dat.LOG1
        ../../ntuser.dat.LOG2
        ../../ntuser.ini
        ../../untitled folder/
        ../../usb_driver/
